.job-listings-container {
  display: flex;
  width: 95%;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  gap: 1.5%;
  padding: 0;
}

.job-card-wrapper {
  min-width: 200px;
  width: 21%;
  margin: 1.1vh 1.5vw;

  transition: cubic-bezier(0.23, 1, 0.32, 1);
}
.job-card-wrapper :hover {
  transform-origin: 50%;
  transform: scale(1.01);

  transition: cubic-bezier(0.23, 1, 0.32, 1);
}
